@using System.Security.AccessControl
@using dnd.Code.Extensions
@model Models.Spell

@{
    ViewBag.Title = "Details";
}

<style>
    .spell-header {
        background-color: lightgray;
        padding-bottom: 4px;
        padding-top: 4px;
    }

    .spell-level {
        background: cadetblue;
        padding: 12px 24px 10px 24px;
        font-weight: 700;
        font-size: 24px;
        float: left;
        margin-right: 24px;
        color: ghostwhite;
    }

    .spell-name {
        font-weight: 700;
        color: brown;
        margin-top: 12px;
        display: inline-block;
    }

    .description {
        max-width: 510px;
        margin: 10px 0px;
    }

    .ritual {
        font-weight: 600;
        color: whitesmoke;
        margin-top: 12px;
        margin-left: 12px;
    }

    .control-label {
        padding-top: 0px !important;
    }

    .form-group {
        margin-bottom: 4px;
    }
</style>

<h2> Заклинання </h2>

<div>
    <div class="spell-level ">
        <span>
            @Model.Level
        </span>
    </div>
    <div class="spell-header">
        <h3 class="spell-name">
            @Model.Name
        </h3>
        @if (Model.IsRitual)
        {
            <span class="ritual"> Ритуал </span>
        }
    </div>

    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2">Школа</label>
            <div class="col-md-10">
                @Model.School
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Час накладання</label>
            <div class="col-md-10">
                @Model.CastDuration
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Відстань</label>
            <div class="col-md-10">
                @Model.Range (@Model.Target)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Компонент</label>
            <div class="col-md-10">
                @if (Model.IsVoiceComponent)
                { <text> Голос </text>  }
                @if (Model.IsVoiceComponent && (Model.IsSomaticComponent || Model.IsMaterialComponent))
                {
                    <text> | </text>
                }
                @if (Model.IsSomaticComponent)
                { <text>  Рухи | </text> }
                @if (Model.IsMaterialComponent)
                { <text>  Матеріал : </text> }
                <br />
                <i> @Model.Component </i>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Тривалість</label>
            <div class="col-md-10">
                @if (Model.NeedConcentration)
                {
                    <b> <i> Концентрація: </i> </b>
                }
                @Model.Duration
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.Trigger))
        {
            <div class="form-group">
                <label class="control-label col-md-2">Тригер</label>
                <div class="col-md-10">
                    @Model.Trigger
                </div>
            </div>
        }


        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10 description">
                @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
            </div>
           
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Джерело</label>
            <div class="col-md-10">
                @Model.RelatedBook
            </div>
        </div>

    </div>
</div>
<p>
    @if (User.IsAdmin())
    {
        @Html.ActionLink("Редагувати", "Edit", new { id = Model.Id }) <text>|</text>
    }
    @Html.ActionLink("До списку", "Index")
</p>
