@model dnd.Code.Models.SpellExt

@{
    ViewBag.Title = "Edit";

}
<style type="text/css">
    .cb-holder {
        display: inline-block;
        margin-top: 7px;
    }

    .cb-label {
        display: inline-block;
        margin: auto 8px auto 0px;
    }

    .multi-line {
        white-space: pre-line;
    }

    .k-textbox {
        max-width: 280px;
        width: 100%;
    }

    @@media(min-width: 1020px) {
        .descr {
            position: absolute;
            left: 50%;
            top: 170px;
            width: 50vw;
            max-width: 530px;
        }
    }
</style>

<h2>Редагувати @Model.Name</h2>

@using (Html.BeginForm("Edit", "Spells"))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Заклинання</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Назва</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Рівень</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Level, Model.Levels, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Школа</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SchoolId, Model.Schools, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.School, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ритуал</label>
            <div class="col-md-10">
                <div class="cb-holder">
                    @Html.EditorFor(model => model.IsRitual)
                    @Html.ValidationMessageFor(model => model.IsRitual, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Час накладання</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CastDuration, Model.CastDurations, null, new { @class = "form-control" })
                @*@Html.EditorFor(model => model.CastDuration, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.CastDuration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ціль</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Target, Model.Targets, null, new { @class = "form-control", onchange = "onTargetChanged()", id = "targetId" })
                @Html.ValidationMessageFor(model => model.Target, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Дистанція</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Range, new { htmlAttributes = new { @class = "form-control", id = "rangeId" } })
                @Html.ValidationMessageFor(model => model.Range, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Компонент</label>
            <div class="col-md-10">
                <div class="cb-holder">
                    @Html.EditorFor(model => model.IsVoiceComponent)
                    @Html.ValidationMessageFor(model => model.IsVoiceComponent, "", new { @class = "text-danger" })
                    <span class="cb-label">V</span>
                </div>
                <div class="cb-holder">
                    @Html.EditorFor(model => model.IsSomaticComponent)
                    @Html.ValidationMessageFor(model => model.IsSomaticComponent, "", new { @class = "text-danger" })
                    <span class="cb-label">S</span>
                </div>
                <div class="cb-holder">
                    @Html.EditorFor(model => model.IsMaterialComponent)
                    @Html.ValidationMessageFor(model => model.IsMaterialComponent, "", new { @class = "text-danger" })
                    <span class="cb-label">M</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Компонент</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Component, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Component, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Концентрація</label>
            <div class="col-md-10">
                <div class="cb-holder">
                    @Html.EditorFor(model => model.NeedConcentration)
                    @Html.ValidationMessageFor(model => model.NeedConcentration, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Тривалість</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Duration, Model.Durations, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Тригер</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Trigger, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Trigger, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Джерело</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.RelatedBook, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RelatedBook, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group descr">
            <label class="control-label col-md-2">Опис</label>
            <div class="col-md-10">
                @(Html.Kendo().EditorFor(it => it.Description).HtmlAttributes(new { style = "height: 69vh", @class = "form-control descr-text", lang = "ru" })
                              .Value(HttpUtility.HtmlDecode(Model.Description))
                              .Tools(it => it.Clear().Formatting().Bold().Italic().Underline()
                              .InsertUnorderedList().InsertOrderedList().FontColor().TableEditing()))
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <button type="submit" class="btn btn-default"> Зберегти </button>
                <div class="cb-holder">
                    @Html.EditorFor(model => model.AddMore)
                    @Html.ValidationMessageFor(model => model.AddMore, "", new { @class = "text-danger" })
                    <span class="cb-label">Add more</span>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>

    function onTargetChanged() {
        var val = 30;
        var target = $('#targetId option:selected').val();
        switch (target) {
            case 'На себе': { val = 0; break; }
            case 'Дотик': { val = 5; break; }
            default: { ; }
        }

        $('#rangeId').val(val);

    }
</script>
