@model dnd.Code.Models.SpellExt

@{
    ViewBag.Title = "Edit";

}
<style type="text/css">
    .cb-holder {
        display: inline-block;
        margin-top: 7px;
    }

    .cb-label {
        display: inline-block;
        margin: auto 8px auto 0px;
    }

    .multi-line {
        white-space: pre-line;
    }

    @@media(min-width: 1020px) {
        .descr {
            position: absolute;
            left: 50%;
            top: 170px;
            width: 50vw;
        }

        textarea.descr-text {
            height: 69vh;
            max-width: 410px;
        }
    }
</style>

<h2>Редагувати @Model.Name</h2>

@using (Html.BeginForm("Edit", "Spells"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Заклинання</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Назва</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Рівень</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Level, Model.Levels, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Школа</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SchoolId, Model.Schools, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.School, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ритуал</label>
            <div class="col-md-10">
                <div class="cb-holder">
                    @Html.EditorFor(model => model.IsRitual)
                    @Html.ValidationMessageFor(model => model.IsRitual, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Час накладання</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CastDuration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CastDuration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Відстань</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Range, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Range, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ціль</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Target, Model.Targets, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Target, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Концентрація</label>
            <div class="col-md-10">
                <div class="cb-holder">
                    @Html.EditorFor(model => model.NeedConcentration)
                    @Html.ValidationMessageFor(model => model.NeedConcentration, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Тривалість</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Duration, Model.Durations, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group descr">
            <label class="control-label col-md-2">Опис</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control descr-text", lang="ru" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Компонент</label>
            <div class="col-md-10">
                <div class="cb-holder">
                    @Html.EditorFor(model => model.IsVoiceComponent)
                    @Html.ValidationMessageFor(model => model.IsVoiceComponent, "", new { @class = "text-danger" })
                    <span class="cb-label">V</span>
                </div>
                <div class="cb-holder">
                    @Html.EditorFor(model => model.IsSomaticComponent)
                    @Html.ValidationMessageFor(model => model.IsSomaticComponent, "", new { @class = "text-danger" })
                    <span class="cb-label">S</span>
                </div>
                <div class="cb-holder">
                    @*<div class="checkbox">*@
                    @Html.EditorFor(model => model.IsMaterialComponent)
                    @Html.ValidationMessageFor(model => model.IsMaterialComponent, "", new { @class = "text-danger" })
                    @*</div>*@
                    <span class="cb-label">M</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Компонент</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Component, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Component, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Тригер</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Trigger, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Trigger, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Джерело</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.RelatedBook, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RelatedBook, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Зберегти" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
